{% if postListItems.length %}
  <section>
    <h2>{{ postListHeading }}</h2>
    <ol reversed>
      {% for item in postListItems %}
        <li>
          <h3>
            <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
          </h3>
          <p>
            <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
          </p>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}
