<a href="#main-content">Skip to content</a>
<header role="banner">
  <span>{{ site.name }}: {{ pageType }}</span>
  <a href="/" {{ 'aria-current=page' if page.url == '/' | safe }}>
    <span>{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
    <span aria-hidden="true">{{ site.name }}</span>
  </a>
  {% include "partials/components/nav.njk" %}
</header>
