<footer role="contentinfo">
  {% if site.shortDesc %}
    <article>
      <h2>{{ site.name }}</h2>
      {{ site.shortDesc | markdownFilter | safe }}
    </article>
  {% endif %}
  {% include "partials/components/nav.njk" %}
  {% if site.showThemeCredit %}
    <p>
      Powered by the <a href="https://hebra.dev" rel="external">Hebra Eleventy Starter Kit v{{ pkg.version }}</a>.
    </p>
  {% endif %}
</footer>
