{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="h-entry">
      {% include "partials/components/intro.njk" %}
      {{ content | safe }}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
